@import "tailwindcss";


.btn {
  width: auto;
  height: 30px;
  padding: 5px;
  margin: 5px;
  min-width: 100px;
}

hr {
  width: 100%;
}

table tr th td {
  border: 1px solid black;
  border-collapse: collapse;
}